
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/css.css">
    <title>imc</title>
</head>
<body>
    <main> 
    <h1>IMC</h1>
    <section>
        <form action="../control/resultadoimc.php" method="post">
            <label for="nome">Digite seu nome</label >
            <input type = "text" name = nome required>
            <label for="nome">Digite seu peso</label >
            <input type = "text" name = peso required>
            <label for="altura">Digite sua altura(m)</label required>
            <input type = "float" name = altura required >
            <button type="submit" class="btn" name="btnenviar"><b>Enviar</b></button>                             
        </form>
    </section>
    </main>
</body>
</html>



