@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.titulologin{
    text-align: center;
}
#cxlogin{
    width: 350px;
    height: 150px;
    margin: auto;
    position: relative;
}
#cadeado 
{
    width: 300px;
    height: 150px;
    position: absolute;
    margin-top: -90px;
    margin-left: 250px;

}
.figura1
{
    width: 100px;
    height: 100px;

}
#menu
{
text-align: center;
font-family: Roboto,sans-serif;

}
#menu a{
    color: brown;
    font-family: Roboto,sans-serif;

}
.h1menu
{
    text-align: center;
    font-family: Roboto,sans-serif;
    
}
#fundomenu
{
    background-color: bisque;
}